name: Deploy to WP Engine

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to WP Engine
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: sixpointcodev
          SRC_PATH: "."
          REMOTE_PATH: "wp-content/plugins/op-platform/"
